* {
    box-sizing: border-box;
}

/**css para home **/

.imghom {
    height: 180px;
}

.div-hom-elementos-accesorios{
    display: flex;
    flex-wrap: wrap;
}

.div-hom-elementos-ropamujer{
    display: flex;
    flex-wrap: wrap;
}

.div-hom-elementos-ropahombre{
    display: flex;
    flex-wrap: wrap;
}

.div-hom-elemento-accesorios {
    padding: 10px 10px 20px 10px;
    justify-content: center;
}

.div-hom-elemento-ropamujer {
    padding: 10px 10px 20px 10px;
    justify-content: center;
}

.div-hom-elemento-ropahombre {
    padding: 10px 10px 20px 10px;
    justify-content: center;
}

.form-hom-agregar {
    padding:5px 1px 10px 1px;
}


/**css para category**/

.imgcat {
    height: 180px;
}

.sec-cat {
    display: flex;
    flex-wrap: wrap;
}

.div-cat {
    padding: 10px 10px 20px 10px;
}

